.list-table-format{
    display: grid;
    grid-template-columns: 2fr 3fr 3fr  1.5fr 0.5fr;
    align-items: center;
    gap:10px;
    padding: 12px 15px;
    border: 1px solid gainsboro;
    font-size: 18px;
}
.list-table-format img{
    width: 50px;
    height: 80px;
}

.list-table-format.title{
    background-color: rgb(190, 190, 47);
}
.cursor{
    cursor: pointer;
}

@media screen and  (max-width:600px){


    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap:15px;


    }
    .list-table-format .title{
        display: none;
    }
}
